# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

.DS_Store
.idea/
node_modules/
bower_components/
www/
app/assets/fonts
app/constants/
platforms/
resources/android
resources/ios
plugins/
coverage
reports
npm-debug.log
